<p id="notice"><%= notice %></p>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <br/>
  <h1 class="display-4 text-center">Thank you for your feedback!</h1>
  <h1 class="display-4 text-center">Have a nice day</h1>
</div>
